/*******************************/


/********* General CSS *********/


/*******************************/

body {
    color: #444444;
    font-weight: 400;
    background: #ffffff;
    font-family: 'Barlow', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #202C45;
}

a {
    color: #202C45;
    transition: .3s;
}

a:hover,
a:active,
a:focus {
    color: #da291c;
    outline: none;
    text-decoration: none;
}

.btn.btn-custom {
    padding: 10px 30px 12px 30px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    background: #da291c;
    border: none;
    border-radius: 60px;
    box-shadow: inset 0 0 0 0 #202C45;
    transition: ease-out 0.5s;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
}

.btn.btn-custom:hover {
    color: #da291c;
    background: #202C45;
    box-shadow: inset 200px 0 0 0 #202C45;
}

.btn:focus,
.form-control:focus {
    box-shadow: none;
}

.container-fluid {
    max-width: 1366px;
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
    font-size: inherit;
    margin-left: 0;
}


/**********************************/


/****** Back to Top ******/


/**********************************/

.back-to-top {
    position: fixed;
    display: none;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 22px;
    right: 15px;
    bottom: 15px;
    transition: .5s;
    background: #da291c;
    border-radius: 44px;
    z-index: 9;
}

.back-to-top i {
    color: #ffffff;
    padding-top: 10px;
}

.back-to-top:hover {
    background: #202C45;
}


/**********************************/


/********** Top Bar CSS ***********/


/**********************************/

.top-bar {
    position: relative;
    height: 75px;
    display: flex;
    align-items: center;
    background: #ffffff;
}

.top-bar .logo {
    text-align: left;
    overflow: hidden;
}

.top-bar .logo h1 {
    margin: -4px 0 0 0;
    color: #da291c;
    font-size: 50px;
    line-height: 50px;
    font-weight: 800;
    letter-spacing: 1px;
    font-style: italic;
}

.top-bar .logo h1 span {
    color: #202C45;
}

.top-bar .logo img {
    max-width: 100%;
    max-height: 60px;
}

.top-bar .top-bar-item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.top-bar .top-bar-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #202C45;
    border-radius: 40px;
}

.top-bar .top-bar-icon i {
    margin: 0;
    color: #ffffff;
    font-size: 16px;
}

.top-bar .top-bar-text {
    padding-left: 15px;
}

.top-bar .top-bar-text h3 {
    margin: 0 0 5px 0;
    font-size: 18px;
    font-weight: 600;
}

.top-bar .top-bar-text p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
}

@media (max-width: 991.98px) {
    .top-bar .logo {
        text-align: center;
    }
}


/**********************************/


/*********** Nav Bar CSS **********/


/**********************************/

.nav-bar {
    position: relative;
    background: #202C45;
}

.nav-bar.nav-sticky {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    z-index: 999;
}

.nav-bar .navbar {
    padding: 20px 0;
    background: #202C45 !important;
    transition: .3s;
}

.nav-bar.nav-sticky .navbar {
    padding: 5px 0;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: #ffffff;
    padding: 15px;
    font-weight: 500;
    letter-spacing: 1px;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    color: #da291c;
}

.nav-bar .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #f8f9fa;
}

.nav-bar .btn.btn-custom {
    color: #202C45;
    background: #ffffff;
    box-shadow: inset 0 0 0 0 #da291c;
}

.nav-bar .btn:hover {
    color: #ffffff;
    background: #da291c;
    box-shadow: inset 200px 0 0 0 #da291c;
}

@media (min-width: 992px) {
    .nav-bar .navbar-brand {
        display: none;
    }
}

@media (max-width: 991.98px) {
    .navbar-dark .navbar-nav .nav-link,
    .navbar-dark .navbar-nav .nav-link:focus,
    .navbar-dark .navbar-nav .nav-link:hover,
    .navbar-dark .navbar-nav .nav-link.active {
        padding: 5px 0;
    }
    .nav-bar .dropdown-menu {
        box-shadow: none;
    }
    .nav-bar .btn {
        display: none;
    }
}


/*******************************/


/********** Hero CSS ***********/


/*******************************/

.carousel {
    position: relative;
    width: 100%;
    min-height: 400px;
    background: #ffffff;
    margin-bottom: 45px;
}

.carousel .container-fluid {
    padding: 0;
}

.carousel .carousel-item {
    position: relative;
    width: 100%;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.carousel .carousel-img {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 400px;
    text-align: right;
    overflow: hidden;
}

.carousel .carousel-img::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 1;
}

.carousel .carousel-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel .carousel-text {
    position: absolute;
    max-width: 992px;
    padding: 0 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
}

.carousel .carousel-text h3 {
    color: #fafafa;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-bottom: 0px;
}

.carousel .carousel-text h1 {
    color: #ffffff;
    font-size: 90px;
    font-weight: 700;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.carousel .carousel-text p {
    max-width: 500px;
    color: #ffffff;
    font-size: 18px;
    margin-bottom: 40px;
}

.carousel .btn.btn-custom {
    padding: 20px 45px 22px 45px;
    color: #ffffff;
}

.carousel .btn.btn-custom:hover {
    color: #da291c;
}

.carousel .owl-nav {
    position: absolute;
    width: 100%;
    height: 50px;
    top: calc(50% - 25px);
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 9;
}

.carousel .owl-nav .owl-prev,
.carousel .owl-nav .owl-next {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    border-radius: 50px;
    background: rgba(256, 256, 256, .2);
    font-size: 22px;
    transition: .5s;
}

.carousel .owl-nav .owl-prev {
    margin-left: 30px;
}

.carousel .owl-nav .owl-next {
    margin-right: 30px;
}

.carousel .owl-nav .owl-prev:hover,
.carousel .owl-nav .owl-next:hover {
    color: #ffffff;
    background: #da291c;
}

.carousel .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

@media (max-width: 991.98px) {
    .carousel .carousel-text h3 {
        margin-bottom: 5px;
    }
    .carousel .carousel-text h1 {
        font-size: 60px;
    }
    .carousel .carousel-text p {
        font-size: 16px;
    }
    .carousel .carousel-text .btn {
        padding: 12px 30px;
        font-size: 15px;
        letter-spacing: 0;
    }
}

@media (max-width: 767.98px) {
    .carousel .carousel-text h3 {
        font-size: 18px;
        letter-spacing: 2px;
        margin-bottom: 15px;
    }
    .carousel .carousel-text h1 {
        font-size: 45px;
    }
    .carousel .carousel-text .btn {
        padding: 10px 25px;
        font-size: 15px;
        letter-spacing: 0;
    }
    .carousel .carousel-img {
        position: relative;
        width: 100%;
        height: 100%;
        min-height: 400px;
        text-align: right;
        overflow: hidden;
    }
    .carousel .carousel-img::after {
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, .5);
        z-index: 1;
    }
    .carousel .carousel-img img {
        /* width: 10%; */
        height: 500px;
        object-fit: cover;
    }
}

@media (max-width: 575.98px) {
    .carousel .carousel-text h3 {
        font-size: 14px;
        letter-spacing: 1px;
        margin-bottom: 10px;
    }
    .carousel .carousel-text h1 {
        font-size: 30px;
        margin-bottom: 15px;
    }
    .carousel .carousel-text p {
        margin-bottom: 25px;
    }
    .carousel .carousel-text .btn {
        padding: 8px 20px;
        font-size: 14px;
        letter-spacing: 0;
    }
}


/*******************************/


/******* Section Header ********/


/*******************************/

.section-header {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 0 auto 45px auto;
}

.section-header p {
    display: inline-block;
    margin-bottom: 10px;
    padding-bottom: 5px;
    position: relative;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #da291c;
}

.section-header p::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 2px;
    left: 25%;
    bottom: 0;
    background: #da291c;
}

.section-header.text-left p::after {
    left: 0;
}

.section-header.text-right p::after {
    left: 50%;
}

.section-header h2 {
    margin: 0;
    font-size: 45px;
    font-weight: 700;
    text-transform: capitalize;
}

@media (max-width: 991.98px) {
    .section-header h2 {
        font-size: 45px;
    }
}

@media (max-width: 767.98px) {
    .section-header h2 {
        font-size: 40px;
    }
}

@media (max-width: 575.98px) {
    .section-header h2 {
        font-size: 35px;
    }
}


/*******************************/


/********** About CSS **********/


/*******************************/

.about {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.about .section-header {
    margin-bottom: 30px;
    margin-left: 0;
}

.about .about-img img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 30px;
}

.about .about-content {
    margin-bottom: 30px;
}

.about .about-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 25px;
}

.about .about-content ul li {
    margin-bottom: 5px;
}

.about .about-content ul li i {
    margin-right: 8px;
    color: #da291c;
}


/*******************************/


/********* Service CSS *********/


/*******************************/

.service {
    position: relative;
    width: 100%;
    padding: 45px 0 0 0;
}

.service .service-item {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 45px;
}

.service .service-item i {
    color: #202C45;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 20px;
}

.service .service-item [class^="flaticon-"]::before {
    margin: 0;
    font-size: 60px;
    line-height: 60px;
    background-image: linear-gradient(#da291c, #202C45);
    -webkit-text-fill-color: transparent;
    transition: .5s;
}

.service .service-item h3 {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}

.service .service-item p {
    margin: 0;
}


/*******************************/


/********** Facts CSS **********/


/*******************************/

.facts {
    position: relative;
    width: 100%;
    min-height: 400px;
    margin: 45px 0;
    display: flex;
    align-items: center;
    background: #202C45;
}

.facts .facts-item {
    display: flex;
    flex-direction: row;
    margin: 25px 0;
}

.facts .facts-item i {
    margin-top: 15px;
    font-size: 45px;
    color: #da291c;
}

.facts .facts-text {
    padding-left: 20px;
}

.facts .facts-text h3 {
    position: relative;
    display: inline-block;
    color: #ffffff;
    font-size: 60px;
    font-weight: 700;
}

.facts .facts-text h3::after {
    position: absolute;
    content: "\f067";
    top: 0px;
    right: -25px;
    color: #ffffff;
    font-size: 25px;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.facts .facts-text p {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
}


/*******************************/


/******** Location CSS *********/


/*******************************/

.location {
    position: relative;
    width: 100%;
    padding: 45px 0;
}

.location .location-item {
    display: flex;
    margin-bottom: 30px;
}

.location .location-item i {
    padding-top: 3px;
    font-size: 30px;
    color: #da291c;
}

.location .location-text {
    padding-left: 15px;
}

.location .location-text h3 {
    font-size: 18px;
    font-weight: 700;
}

.location .location-text p {
    margin-bottom: 5px;
}

.location .location-text p strong {
    margin-right: 5px;
    font-weight: 600;
}

.location .location-form {
    padding: 45px 30px;
    background: #da291c;
    border-radius: 5px;
}

.location .location-form h3 {
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 25px;
}

.location .location-form .control-group {
    margin-bottom: 15px;
}

.location .location-form .form-control {
    height: 45px;
    color: #ffffff;
    padding: 0 15px;
    border-radius: 5px;
    border: 1px solid #ffffff;
    background: transparent;
}

.location .location-form textarea.form-control {
    height: 120px;
    padding: 15px;
}

.location .location-form .form-control::placeholder {
    color: #ffffff;
    opacity: 1;
}

.location .location-form .form-control:-ms-input-placeholder,
.location .location-form .form-control::-ms-input-placeholder {
    color: #ffffff;
}

.location .location-form .btn.btn-custom {
    width: 100%;
    color: #da291c;
    background: #ffffff;
    box-shadow: inset 0 0 0 0 #202C45;
}

.location .location-form .btn.btn-custom:hover {
    color: #ffffff;
    background: #da291c;
    box-shadow: inset 400px 0 0 0 #202C45;
}

@media(min-width: 576px) and (max-width: 991.89px) {
    .location .location-form .btn.btn-custom:hover {
        box-shadow: inset 650px 0 0 0 #202C45;
    }
}


/*******************************/


/******* Client CSS *******/


/*******************************/

.client {
    background-color: #202C45;
    width: 100%;
    padding: 45px 0 15px 0;
}

.section-headerclient {
    position: relative;
    width: 100%;
    max-width: 700px;
    margin: 0 auto 45px auto;
}

.section-headerclient p {
    display: inline-block;
    margin-bottom: 10px;
    padding-bottom: 5px;
    position: relative;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #da291c;
}

.section-headerclient p::after {
    position: absolute;
    content: "";
    width: 50%;
    height: 2px;
    left: 25%;
    bottom: 0;
    background: #da291c;
}

.section-headerclient.text-left p::after {
    left: 0;
}

.section-headerclient.text-right p::after {
    left: 50%;
}

.section-headerclient h2 {
    margin: 0;
    font-size: 45px;
    font-weight: 700;
    text-transform: capitalize;
    color: #ffffff;
}

@media (max-width: 991.98px) {
    .section-headerclient h2 {
        font-size: 45px;
    }
}

@media (max-width: 767.98px) {
    .section-headerclient h2 {
        font-size: 40px;
    }
}

@media (max-width: 575.98px) {
    .section-headerclient h2 {
        font-size: 35px;
    }
}

.client .testimonials-carousel {
    position: relative;
    width: calc(100% + 30px);
    margin: 0 -15px;
}

.client .client-item {
    position: relative;
    width: 100%;
    padding: 0 15px;
    display: flex;
}

.client .client-item img {
    width: 100%;
    transform: scale(.8);
    transition: 2s;
}

.client .owl-dots {
    margin-top: 15px;
    text-align: center;
}

.client .owl-dot {
    display: inline-block;
    margin: 0 5px;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background: #dddddd;
}

.client .owl-dot.active {
    background: #da291c;
}


/*******************************/


/********* Contact CSS *********/


/*******************************/

.contact {
    position: relative;
    width: 100%;
    padding: 45px 0;
}

.contact .contact-info {
    width: 100%;
    margin-bottom: 45px;
    padding: 35px 30px 10px 30px;
    border-radius: 5px;
    background: #202C45;
}

.contact .contact-info h2 {
    color: #ffffff;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 30px;
}

.contact .contact-info-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 30px;
}

.contact .contact-info-icon {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border-radius: 50px;
}

.contact .contact-info-icon i {
    margin: 0;
    color: #202C45;
    font-size: 16px;
}

.contact .contact-info-text {
    padding-left: 20px;
}

.contact .contact-info-text h3 {
    margin: 0 0 5px 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
}

.contact .contact-info-text p {
    margin: 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}

.contact .contact-form {
    position: relative;
    width: 100%;
    margin-bottom: 45px;
}

.contact .contact-form input {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #202C45;
}

.contact .contact-form textarea {
    height: 125px;
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid #202C45;
}

.contact .help-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.contact iframe {
    width: 100%;
    height: 400px;
    border-radius: 5px;
}


/*******************************/


/********* Footer CSS **********/


/*******************************/

.footer {
    position: relative;
    padding-top: 90px;
    background: #202C45;
}

.footer .footer-contact,
.footer .footer-link,
.footer .footer-newsletter {
    position: relative;
    margin-bottom: 45px;
    color: #ffffff;
}

.footer .footer-contact h2,
.footer .footer-link h2,
.footer .footer-newsletter h2 {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #da291c;
}

.footer .footer-link a {
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
    transition: .3s;
}

.footer .footer-link a::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .footer-link a:hover {
    color: #da291c;
    letter-spacing: 1px;
}

.footer .footer-contact p i {
    width: 25px;
}

.footer .footer-social {
    position: relative;
    margin-top: 20px;
    display: flex;
}

.footer .footer-social a {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #202C45;
    background: #ffffff;
    border-radius: 40px;
    margin-right: 5px;
    transition: .5s;
}

.footer .footer-social a:last-child {
    margin: 0;
}

.footer .footer-social a:hover {
    color: #ffffff;
    background: #da291c;
}

.footer .footer-newsletter form {
    position: relative;
    width: 100%;
}

.footer .footer-newsletter input {
    margin-bottom: 15px;
    height: 45px;
    background: transparent;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.footer .footer-newsletter label {
    margin-top: 5px;
    color: #777777;
    font-size: 14px;
    letter-spacing: 1px;
}

.footer .footer-newsletter .btn.btn-custom {
    width: 100%;
    color: #202C45;
    background: #ffffff;
    box-shadow: inset 0 0 0 0 #da291c;
}

.footer .footer-newsletter .btn:hover {
    color: #ffffff;
    background: #da291c;
    box-shadow: inset 200px 0 0 0 #da291c;
}

.footer .copyright {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 45px;
}

.footer .copyright p {
    margin: 0;
    color: #ffffff;
}

.footer .copyright p a {
    color: #da291c;
    font-weight: 700;
    letter-spacing: 1px;
}

.footer .copyright p a:hover {
    color: #ffffff;
}